<!--<div>{{task.name}}</div>-->
<!--<div *ngIf="task">{{task.name}}</div>-->

<!--Create email button-->
<p-button (click)="showModalDialog(addForm)" icon="pi pi-external-link" label="New Email"></p-button>

<!--Create email dialog-->
<p-dialog header="Create new mail" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}"
          [draggable]="false" [resizable]="false">
  <div class="dialog-body">
    <form #addForm="ngForm" (ngSubmit)="onSendEmail(addForm)">
      <h4>Subject</h4>
      <div class="form-group">
        <input type="text" placeholder="Subject" pInputText ngModel name="subject"/>
      </div>
      <h4>Recipient mail address</h4>
      <div class="form-group">
        <input type="text" placeholder="user@mail.com" pInputText ngModel name="mailAddress"/>
      </div>

      <!-- buttons -->
      <div class="modal-footer">
        <p-button (click)="displayModal=false" label="Close" styleClass="p-button-text"></p-button>
        <p-button label="Send" type="submit" styleClass="p-button-text"></p-button>
      </div>
    </form>
  </div>
</p-dialog>
